@use "scss-reset";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ysabeau-Light", sans-serif;
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

ul,
ol {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
a,
p {
  color: red;
}

input,
button,
textarea,
select {
  font: inherit;
}

svg {
  cursor: pointer;
}
